.wrapper {
  padding: 20px;
}

/* City Cards */
ul.cities {
  list-style: none;
  padding: 0;
}

ul.cities li a {
  text-decoration: none;
}

.cityCard {
  border: 1px solid black;
  overflow: hidden;
  text-align: center;
}

.cityCardTitle {
  color: #111; 
  font-family: 'Alfa Slab One', 'Helvetica Neue', cursive;  
  font-size: 5em;
  /* line-height: 1; */
}

/* Responsive */
@media (min-width: 300px) and (max-width: 768px) {
  /* Cards */
  .cityCard {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .cityCardTitle {
    margin: 0.4em 0.1em;
    font-size : clamp(2rem, 10vw, 5rem);
  }

  .cityCard img {
    height: 100px;
    width: 300px;
    border: 1px solid hotpink;
  }

  body {
    background-color: #de3163;
  }
}